/*.code-workspace
/doc/**
!/doc/docs.config
/src/**/**.log
/src/**/obj
/build/bin
.DS_Store
/benchmarks/micro/output*
/benchmarks/micro/*.log
/benchmarks/micro/output-tmp
/benchmarks/macro/output*
/benchmarks/bench.log
/src/bfs_fs/lwext4
/build/ext_images
/benchmarks/new_bench/o
